<div class="todo js">

    <div class="todo__header">
        <h2>TODO application</h2>
        <div class="todo__input">
            <form>
                <input type="text" class="todo__name" id="todo__name" placeholder="Task name...">
                <textarea type="text" class="todo__description" id="todo__description" placeholder="Task description..." rows="5" cols=""></textarea>
            </form>
        </div>
        <button type="button" onclick="newElement()" class="todo__btn">Add task</button>
    </div>

    <div class="todo__task task">
        <div class="task__header">
            <button type="button" class="task__number">№</button>
            <button type="button" class="task__name-des">Task name/Task description</button>
        </div>
        <ul id="task__items">
            <li class="task__item">
                <ul>
                    <li class="task__name checked">JS</li>
                    <li class="task__des">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit dolor sapiente illo atque quaerat aspernatur cumque deserunt aliquam! Animi ex quae illo quos eius debitis. Fugiat libero, illo aspernatur omnis.</li>
                </ul>
            </li>
            <li class="task__item">
                <ul>
                    <li class="task__name">Angular</li>
                    <li class="task__des" style="display: none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quasi deleniti eligendi facere, porro architecto ratione tempora asperiores, sint quo, et. Dolor quae eius perspiciatis. Maxime eveniet natus adipisci iusto ex iure eaque minima asperiores, fugit unde animi atque doloremque.</li>
                </ul>
            </li>
            <li class="task__item">
                <ul>
                    <li class="task__name">HTML</li>
                    <li class="task__des" style="display: none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores rem ab molestias a assumenda incidunt quo. Quaerat illum, quia quibusdam.</li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>
